# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ IDEA
.idea/

# 忽略所有编译输出和构建缓存
target/
*.iml
*.iws
*.ipr
